<% provide(:title, @article.title) %>

<article class="content-card article-show">
    <div class="article-show__header">
        <div>
            <p class="eyebrow">Article detail</p>
            <h1 class="section-title"><%= @article.title %></h1>
            <p class="article-show__meta">By <%= @article.user&.username || "Unknown author" %></p>
        </div>

        <div class="article-show__actions">
            <%= link_to "Edit", edit_article_path(@article), class: "button button--soft" %>
            <%= link_to "Delete", article_path(@article), class: "button button--danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </div>
    </div>

    <div class="article-body">
        <%= simple_format(@article.description) %>
    </div>

    <div class="inline-actions">
        <%= link_to "Back to articles", articles_path, class: "button button--ghost" %>
    </div>
</article>